.header{
    width:100%;
    height:100px;
    font: 36px bold black;
    padding: 0.25em;
    border-bottom: 1px solid black;
}
.header a{
    position: relative;
    left: 60%;
    font-size: 16px;
    font-style: normal;
}
.sidebar{
    position: absolute;
    display: block;
    width: 35%;
    height: 700px;
    border-right: 1px solid black;
}
.sidebar a{
    color: green;
}
.sidebar a:visited{
    color: green;
}
textarea{
    font: green;
    border: 3px dotted green;
}
.main{
    position: absolute;
    display: inline-block;
    top: 150px;
    left: 750px;
    width: 24%;
    font-family: trebuchet ms, Arial, sans-serif;
    font-size: 1.2em;
    font: color green;
}
.main p{
    margin-bottom: 50px;
    margin-top: 0px;
}
form{
    margin: auto;
    position: relative;

}
form input{
    display: block;
    width: 150px;
    border: 2px dotted blue;
    margin-bottom: 15px;
}
.footer{
    display: inline-block;
    position: absolute;
    top:825px;
    width: 100%;
    height: auto;
    padding: 1em 1em 1em 25px;
    border-top: 1px solid black;
}
